/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	_height: 302px;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid yellow;
	background: red;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 11px;
	padding: 2px 0;
	font-style: italic;
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.dataTables_length {
	width: 0%;
	float: left;
}

.dataTables_filter {
	width: 40%;
	float: right;
	text-align: right;
	font-style: italic;
}

.dataTables_filter input {
	border-style: solid;
	border-width: 1px;
}

.dataTables_info {
	width: 55%;
	float: left;
	text-align: left;
	padding: 4px;
	font-style: italic;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	width: 100%;
	clear: both;
}

table.display thead th {
	padding: 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 10px;
	border-top: 1px solid black;
	font-weight: normal;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}
table.display td.left {
	text-align: left;
}
table.display td.right {
	text-align: right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('sort_asc.jpg') no-repeat center right;
}

.sorting_desc {
	background: url('sort_desc.jpg') no-repeat center right;
}

.sorting {
	background: url('sort_both.jpg') no-repeat center right;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

/*
 * Row selection highlight
 */
 table.display tr.row_selected.odd td {
	background-color: #B0BED9;
}

table.display tr.row_selected.even td {
	background-color: #9FAFD1;
}
