
body {
	color: #000000 ;
	background-color: #FFFFFF ;
	font-family: Tahoma, Helvetica, Arial, sans-serif ;
	font-size: 0.8em ;
	text-align: center ;
	margin: 0px ;
	padding: 0px ;
	border: 0px ;
	height: 100% ; 
	width: 100% ; 
	}
	
.tooltip{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 30;
   display: none;
}

/* 
* Row striping
*/
.even {	background-color: #E0E0E0; }

/* 
* Row highlighting
*/
table tr:hover {
	background-color: #FFFF99 ;
	}