body{
   margin: 0;
   padding: 10px 0 0;
   
   font-family: sans-serif;
   font-size: 11px;
   line-height: 16px;
   background: #AED0F3 url('/simpletip/fringe/images/bg.jpg') repeat scroll left top;
   color: #303030;
}

.left{ float: left; }
.right{ float: right; }
.clear{ clear: both; height: 1px; font-size: 1px; line-height: 1px; }

img{ border: 0; }

ul, li{
   margin: 0;
   padding: 0;
   list-style-type: square;
   list-style-position: inside;
}
ul{ margin: 6px 0; }
ul li{ margin-left: 11px;  }


a, a:link, a:visited a:active{
   color: #6699CC;
   text-decoration: none;
   font-weight: bold;
}


.simpletip{ position: absolute; }

   .simpletip .content .title{
      padding: 5px 7px;
      margin: -6px -6px 8px;
      background-color: #eee;
      font-weight: bold;
      color: #999;
   }
      
      .simpletip .content .title .close{ float: right; }
      
   .simpletip .ajaxdemo{
      font-size: 10px;
   }
   
      .simpletip .ajaxdemo h1{
         margin: 3px 0 5px;
         font-size: 15px;
         font-family: Georgia, serif;
      }
      
      .simpletip .ajaxdemo img{ float: left; padding: 0 7px 7px 0; }

.tooltip .content{
   width: 160px;
   padding: 7px;
   border: 5px solid #EBE4B4;
   background-color: #F8F4CA;
   
   font-size: 11px;
   color: #BB9C61;
}

   .tooltip .content .title{
      margin: -7px -7px 5px;
      background-color: #F3EDC2;
      color: #BB9C61;
   }

.tooltip-simple .content{
   width: 140px;
   padding: 3px 7px;
   
   border: 1px solid #ddd;
   background-color: white;
}

.tooltip-blue .content{
   width: 160px;
   padding: 9px;
   
   border: 7px solid #448FD8;
   
   background-color: #5FADFA;
   color: white;
}

   .tooltip-blue .content .title{
      margin: -9px -9px 5px;
      background-color: #0D7CD0;
      color: white;
   }
   
      .tooltip-blue .content .title a.close{
         height: 22px;
         width: 28px;
         display: block;
         float: right;
         margin: -3px -3px 0 0;
         
         background: transparent url('/simpletip/sandbox/fringe/images/buttonblue.jpg') no-repeat 0 0;
      }

.tooltip-light .content{
   width: 200px;
   padding: 6px;
   
   border: 6px solid #ccc;
   
   background-color: white;
   color: #303030;
}

   .tooltip-light .content .title{
      margin: -6px -6px 5px;
      background-color: #eee;
      color: #999;
   }

      .tooltip-light .content .title a,
      .tooltip-light .content .title a:link,
      .tooltip-light .content .title a:visited{
         color: #999;
      }


.tooltip-black .content{
   width: 190px;
   padding: 7px;
   
   border: 5px solid #303030;
   
   background-color: #888;
   color: white;
}

   .tooltip-black .content .title{
      margin: -7px -7px 5px;
      background-color: #666;
      color: white;
   }
   
      .tooltip-black .content .title a,
      .tooltip-black .content .title a:link,
      .tooltip-black .content .title a:visited{
         color: white;
      }


#master{
   width: 940px;
   margin: 0 auto;
   
   color: #505050;
   background-color: white;
}

/* Position fixed */
#content, #side{
   position: relative;
}


   #side #navigation{
      position: absolute;
      margin-left: -20px;
      top: 17px;
      width: 200px;
   }
   #side > #navigation{
      left: 50%;
      margin: 0 0 0 +250px;
      position: fixed; 
   }


#side{
   float: right;
   width: 180px;
   padding: 10px 20px 0 0;
}

   #side h5{
      margin: 13px 0 2px;
   }

   #side img.logo{
      margin-bottom: 17px;
   }

   #side .links a,
   #side .links a:link
   #side .links a:visited{
      padding: 5px 13px;
      margin-bottom: 1px;
      display: block;
      
      color: #AA8847;
      background-color: #F3EDC2;
      text-decoration: none;
   }
   #side .links a:hover{ background-color: #EBE4B4; }
   
   #side .portfolio{
      border-bottom: 1px solid #e2e2e2;
      padding: 10px 0;
      margin: 5px 0 5px;
   }
   
   #side form.donation{
      padding-top: 4px;
   }
   

#content{
   float: left;
   width: 680px;
   padding: 10px 20px 15px;
}

   #content h2,
   #content h3{
      margin: 5px 0 8px;
      padding: 0;
      color: #6699CC;
      font-weight: bold;
   }
   
   #content h4,
   #content h5{
      margin: 3px 0;
      padding: 0;
   }
   
   #content h5{ font-weight: normal; }
   
   #content .head{
      padding: 5px 0 0;
   }
   
      #content .head a,
      #content .head a:link,
      #content .head a:visited{
         float: left;
         padding: 5px 8px;
         margin: 0 8px 5px 0;
         display: block;
         
         font-weight: normal;
         font-size: 11px;
         color: #AA8847;
         background-color: #F3EDC2;
         text-decoration: none;
      }
      #content .head a:hover{ background-color: #EBE4B4; }
      
      #content .head #testimonial{
         height: 61px;
         clear: both;
         background: transparent url('/simpletip/sandbox/fringe/images/speech-left.png') no-repeat -8px 0;
      }

         #content .head #testimonial div{
            margin-left: -20px;
            padding: 30px 0 10px 0;
            
            background: transparent url('/simpletip/sandbox/fringe/images/speech-right.png') no-repeat 97% 0;
            font-size: 15px;
            font-weight: normal;
            text-align: center;
            
            color: #505050;
         }

   #content .section,
   #content .subsection{
      padding: 15px 0 20px;
      border-bottom: 3px solid #eee;
   }
   
   #content .subsection{ padding-bottom: 20px; border-bottom: 1px solid #e2e2e2; }
   
   #content .last{ border: 0; padding-bottom: 0; }
   
   #content code{
      margin: 12px 0 12px 10px;
      padding: 8px;
      display: block;
      overflow: hidden;
      
      border: 1px solid #e2e2e2;
      background-color: #eee;
      
      font-family: monospace;
      font-size: 10px;
      white-space: pre !important;
   }
   
   #content p{
      margin: 8px 0;
      padding: 0;
   }
   
      #content p.note{
         margin: 17px 0 0 5px;
         font-size: 10.5px; 
      }
      
   #content table{
      width: 98.5%;
      margin: 2px 0 6px 10px;
      padding: 0;
      
      border: 1px solid #e2e2e2;
   }
      
      #content table tr.header td{
         font-weight: bold;
      }
      
         #content table tr td{ 
            padding: 6px 10px 10px 6px;
            vertical-align: top;
            
            background-color: #eee;
            border-bottom: 1px solid white; 
         }
         
            #content table tr td.name{ padding-right: 25px; font-weight: bold; }
            #content table tr td.return{ padding-right: 20px; }
         
            #content table tr td code{ margin: 5px 0 5px 5px; background-color: #f8f8f8; }
            

#overview{}

   #overview img.preview{ margin: 0 0 0 8px; border-top: 10px solid #606060; }

#demonstrations{

}

   #demonstrations p.note{ line-height: 25px; clear: both; }

   #demonstrations ul.rooms{
      list-style-type: none;
      margin: 0;
      padding: 0;
   }

   #demonstrations ul.rooms li.room{
      float: left;
      padding: 3px 0 7px 3px;
      margin: 0 9px 9px 0;
      width: 100px;
      
      background-color: #eee;
      text-align: center;
      list-style-type: none;
   }
   
      #demonstrations ul.rooms li.room .pad1, 
      #demonstrations ul.rooms li.room .pad2, 
      #demonstrations ul.rooms li.room .pad3{
         height: 22px;
         float: left;
         margin: 0 3px 5px 0;
         position: relative;
         cursor: default;
         
         border: 1px solid #e2e2e2;
         background-color: white;
      }
      
      #demonstrations ul.rooms li.room .pad1{ width: 95px; float: none; }
      #demonstrations ul.rooms li.room .pad2{ width: 45px; }
      #demonstrations ul.rooms li.room .pad3{ width: 28px; }


#tutorials{}

   #tutorials img.stems{
      padding: 25px 0 0 25px;
   }
   
   #tutorials img.hooks{
      padding: 15px 0 0 20px;
   }


#download{}

   #download h2.link{
      margin: 15px 0 10px;
   }

#changelog{}

   #changelog h4{
      margin-top: 10px;
      color: #6699CC;
   }
   
      #changelog h4 b{ color: #303030; }
   
   #changelog ul{
      padding-bottom: 7px;
      margin-bottom: 12px;
      border-bottom: 1px solid #e2e2e2;
   }

#footer{
   margin-top: 20px;
   font-size: 10px;
   text-align: right;
   color: #404040;
}